---

- name: Check GitHub for the latest version
  block:

    - name: Check the latest version of Kimai
      ansible.builtin.uri:
        url: https://github.com/kevinpapst/kimai2/releases/latest
        method: HEAD
        status_code: 302
        follow_redirects: none
      run_once: true
      delegate_to: localhost
      check_mode: false
      register: kimai_latest_headers

    - name: Debug Kimai latest URI
      ansible.builtin.debug:
        msg:
          - "Location: {{ kimai_latest_headers.location }}"
          - "Path: {{ kimai_latest_headers.location | urlsplit('path') }}"
          - "Version: {{ kimai_latest_headers.location | urlsplit('path') | basename }}"
        verbosity: 1

    - name: Set a fact for the latest version of Kimai
      ansible.builtin.set_fact:
        kimai_latest: "{{ kimai_latest_headers.location | urlsplit('path') | basename }}"

    - name: Warn if kimai_version is not equal to kimai_latest
      ansible.builtin.debug:
        msg:
          - "The kimai_version variable is set to {{ kimai_version }}"
          - "The kimai_latest variable is set to {{ kimai_latest }}"
        verbosity: 1
      when:
        - ( kimai_version is defined ) and ( kimai_latest is defined )
        - ( kimai_version != kimai_latest )
  # END OF BLOCK
