---
- name: Required packages present
  apt:
    pkg:
      - git
      - gnupg
      - pwgen
    state: present
  tags:
    - kimai

# Additional checks on the following variables could be added
- name: Check that all the variables needed are defined
  assert:
    that:
      - kimai_version is defined
      - kimai_app_env is defined
      - kimai_user is defined
      - kimai_group is defined
      - kimai_home is defined
      - kimai_private is defined
      - ( kimai_docroot is defined ) and ( kimai_docroot | basename == "public" )
      - kimai_dbuser is defined
      - kimai_dbpass is defined
      - kimai_dbhost is defined
      - kimai_dbport is defined
      - kimai_dbname is defined
      - kimai_notify_from is defined
      - ( kimai_email_transport is defined ) and ( kimai_email_transport is regex("^smtp|sendmail|gmail|$") )
  tags:
    - kimai

- name: "Check if the Kimai {{ kimai_user }} user account exists"
  shell: "id {{ kimai_user }} && echo PRESENT || echo ABSENT"
  register: kimai_user_check
  check_mode: false
  changed_when: '"no such user" in kimai_user_check.stderr'
  tags:
    - kimai

- name: Only install or upgrade Kimai if the user account exists
  block:

    - name: Check what the installed version of Kimai is
      include_tasks: latest.yml

    - name: Install Kimai
      include_tasks: install.yml
      when: kimai_installed is not defined

    - name: "Upgrade Kimai when {{ kimai_version }} is less than {{ kimai_installed }}"
      include_tasks: upgrade.yml
      when:
        - ( kimai_version is defined ) and ( kimai_installed is defined )
        - ( kimai_installed is version(kimai_version, '<') )

    - name: Check what the latest version of Kimai is
      include_tasks: latest.yml

    - name: A update is available
      debug:
        msg: "Kimai version {{ kimai_installed }} is installed and the latest version available is {{ kimai_latest }}, update the kimai_version variable to upgrade"
      when:
        - ( kimai_latest is defined ) and ( kimai_installed is defined )
        - ( kimai_installed is version(kimai_latest, '<') )

  when: ( kimai_user_check is defined ) and ( "no such user" not in kimai_user_check.stderr )
  tags:
    - kimai
...
