---
- name: Update Kimai
  block:

    - name: "Kimai git repo updated to version {{ kimai_version }}"
      git:
        repo: https://github.com/kevinpapst/kimai2.git
        dest: "{{ kimai_docroot | dirname }}"
        version: "{{ kimai_version }}"
        depth: 1
        clone: true
        update: true
        force: false
        verify_commit: true
      become: true
      become_user: "{{ kimai_user }}"

    - name: Composer install
      composer:
        command: install
        working_dir: "{{ kimai_docroot | dirname }}"
        optimize_autoloader: true
        no_dev: true
      become: true
      become_user: "{{ kimai_user }}"

    - name: "Update Kimai from version {{ kimai_installed }} to version {{ kimai_version }}"
      command: bin/console --no-ansi -n kimai:update
      args:
        chdir: "{{ kimai_docroot | dirname }}"
      become: true
      become_user: "{{ kimai_user }}"

    - name: Clear and warm up the cache
      command: "bin/console --no-ansi -n {{ cmd }}"
      args:
        chdir: "{{ kimai_docroot | dirname }}"
      loop:
        - cache:clear --env=prod
        - cache:warmup --env=prod
      become: true
      become_user: "{{ kimai_user }}"

    - name: Check the installed version of Kimai
      include_tasks: version.yml

  tags:
    - kimai
...
