Hi

Your Kimai admin account details for {{ kimai_url }}/:

  Username:	{{ kimai_admin_user }}
  Password:	{{ kimai_admin_password }}
  URL:		{{ kimai_url }}/en/login

All the best

{{ kimai_notify_reply_to }}

-- 
{{ kimai_notify_signature | default('Webarch Co-operative Limited\nhttps://www.webarch.coop/') }}
