[Desktop Entry]
Name=Kimai
Type=Application
Exec=/usr/bin/chromium-browser --new-window --app="https://{{ kimai_domain }}"
GenericName={{ kimai_domain }}
Comment=Time tracker
Categories=Network;WebDevelopment;
Keywords=kimai;webapp;time tracking;intervals;
StartupWMClass=chromium-app-kimai
Icon={{ desktop_icon.dest }}
Version=1.1
{# empty MimeType line just to suppress "lacks Mimetype" warning during update-desktop-database #}
MimeType=
